.App {
  text-align: center;
  color:white;
}

body{
  background-color:black;
}

.log{
  color:black;
  margin-left: 10px;
  margin-right: 10px;
  background-color: skyblue;
  border-radius: 10px;
  height:50px;
  width:200px;
  justify-self: end;
  font-size: x-large;
  margin-top:10px;
  margin-bottom:50px;
}




.in{
  border-radius:20px;
  font-size: 24px;
  width: 60%;
  padding: 10px;
  margin: 10px 0;
}

.hea{
  margin-top: 100px;
  margin-bottom: 50px;
  margin-left:25%;
  background-color: lightgray; 
  font-size: 24px;
  background-color:rgb(105, 128, 0);
  width:50%;
  height:50px;
  border-radius:30px;
  text-align: center;
}

.lo{
  text-align:center;
}
.Timer{
  height:50px;
  font-size:30px;
  margin-bottom: 10px;
  background-color:green;
  width:50px;
  margin-left:48%;
  border-radius: 15px;
}

.form{
  font-size: 30px;
  margin-top:80px;
  padding:5px;
  background:linear-gradient(150deg,pink,blue,red,green);
  background-color:rgb(169, 90, 63);
  width:60%;
  border-radius:20px;
  margin-left:20%;
}